.searchForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchForm input {
  width: 80%;
  background-color: #EFF0F6;
  ;
  border-radius: 12px;
  padding: 18px;
  padding-left: 45px;
  border: none;
}

.searchForm button {
  padding : 18px;
  background-color: var(--flix-blue);
  color: white;
  border: none;
  border-radius: 40px;
  width: 17%;
  font-size: 1.01rem;
  letter-spacing: 1px;
}
.searchForm button.mobile {
  border-radius: 12px;
  display: none;
}
.searchForm i{
  position: absolute;
  padding: 18px;
}
.searchForm img {
  width: 20px;
}
@media screen and (max-width : 700px) {
  .searchForm button.mobile {
    display: block;
  }
  .searchForm button {
    display: none;
  }
}