@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --flix-blue : #5F2EEA;
  --flix-black : #14142B;
  --flix-light-gray : #D9DBE9;
  --flix-dark-gray : #A0A3BD
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  color : var(--flix-black);
  font-family: 'Poppins', sans-serif;
}
.flex {display: flex;}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
input, textarea, button {font-family: inherit}
button:hover {
  cursor : pointer
}
button {
  border: 0;
}